body {
	color:#8aa1f9;
	background:url('https://github.com/JSunn96/vilagosklari/tree/gh-pages/images/bgd.jpg');
    margin: 0;
    padding: 0;
}

.container{
	border: 1px solid #8aa1f9;
	width: 90%;
	padding:10px;
	margin: 100px auto;
	background:url('https://github.com/JSunn96/vilagosklari/tree/gh-pages/images/bgd.jpg');
	
}

#navbar ul{
	list-style-type: none;
	padding-left: 150px;
}

#navbar li{
	display: inline-block;
	font-weight: bold;
	margin-right: 50px;
	font-size: 32px;
	font-family: 'Noto Sans SC', sans-serif;
	padding-top: 50px;
}

#pola1 img{
	width: 800px;
	height: auto;
}
